.DS_Store
tool/python/.DS_Store
*.egg-info
__pycache__
*.cpython-*-*-*.so
dist 
_skbuild
src/python/pycold/_colds_cython*.so
dist/*.whl
build
.idea
wheelhouse
tests/coverage.xml
tests/.coverage
tmpfile
src/cxx/Makefile
src/cxx/.vscode
src/cxx/bin
src/cxx/build
src/cxx/ccd.dSYM
.vscode
src/cxx/ccd
